# Configuration file

general {

    gamerules {
        # Allow eggs to be thrown
        B:allowEggThrowing=false

        # Allow random mobs to spawn on Animania animals
        B:allowMobRiding=true

        # Allow dispensers to place seeds
        B:allowSeedDispenserPlacement=true

        # Allow the trough to be automated with hoppers/pipes
        B:allowTroughAutomation=true

        # Animals do not have to eat or drink
        B:ambianceMode=false

        # Animals starve to death when not fed and watered
        B:animalsStarve=false

        # Ticks that a Cheese takes to mature
        I:cheeseMaturityTime=24000

        # Enable recipes to exchange special meats for vanilla
        B:enableVanillaMeatRecipes=false

        # Multiplier for reducing fall damage when animals are leashed
        D:fallDamageReduceMultiplier=0.44999998807907104

        # Foods give bonus effects
        B:foodsGiveBonusEffects=true

        # Capacity of RF that the Hamster Wheel has
        I:hamsterWheelCapacity=200000

        # RF/tick that the Hamster wheel generates while in use
        I:hamsterWheelRFGeneration=20

        # Ticks that the hamster stays in the wheel before it needs more food
        I:hamsterWheelUseTime=900

        # Plant blocks removed after animal eats
        B:plantsRemovedAfterEating=true

        # Remove vanilla Chickens
        B:replaceVanillaChickens=true

        # Remove vanilla Cows
        B:replaceVanillaCows=true

        # Remove vanilla Horses
        B:replaceVanillaHorses=false

        # Remove vanilla Pigs
        B:replaceVanillaPigs=true

        # Remove vanilla Rabbits
        B:replaceVanillaRabbits=true

        # Remove vanilla Sheep
        B:replaceVanillaSheep=true

        # Shift-Right-Click for Seed Placement
        B:shiftSeedPlacement=false

        # Show mod update notification at startup
        B:showModUpdateNotification=true

        # Show male parts (modesty flag)
        B:showParts=true

        # Show particles when animals are unhappy
        B:showUnhappyParticles=true

        # Food Items that can be placed in the trough
        S:troughFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
            minecraft:apple
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
         >

        # Water blocks removed after large animals drink
        B:waterRemovedAfterDrinking=true
    }

    drops {
        # Set Custom Chicken Drop (if enabled)
        S:chickenDrop=animania:raw_prime_chicken

        # Allow Animania Chickens to drop Eggs
        B:chickensDropEggs=false

        # Allow Animania Chickens to drop Feathers
        B:chickensDropFeathers=true

        # Set Custom Cow Drop (if enabled)
        S:cowDrop=animania:raw_prime_beef

        # Enable Animal Drops from Config
        B:customMobDrops=true

        # Set Custom Dart Frog Drop
        S:dartFrogDrop=

        # Set Custom Ferret Drop (if enabled)
        S:ferretDrop=

        # Set Custom Frog Drop
        S:frogDrop=animania:raw_frog_legs

        # Set Custom Goat Drop
        S:goatDrop=animania:raw_chevon

        # Set Custom Hamster Drop (if enabled)
        S:hamsterDrop=animania:hamster_food

        # Set Custom Hedgehog Drop (if enabled)
        S:hedgehogDrop=

        # Set Custom Horse Drop (if enabled)
        S:horseDrop=

        # Enable Animals Drop their custom meat types
        B:oldMeatDrops=false

        # Set Custom Blue Peacock Drop (if enabled)
        S:peacockBlueDrop=animania:blue_peacock_feather

        # Set Custom Charcoal Peacock Drop (if enabled)
        S:peacockCharcoalDrop=animania:charcoal_peacock_feather

        # Set Custom Opal Peacock Drop (if enabled)
        S:peacockOpalDrop=animania:opal_peacock_feather

        # Set Custom Peach Peacock Drop (if enabled)
        S:peacockPeachDrop=animania:peach_peacock_feather

        # Set Custom Purple Peacock Drop (if enabled)
        S:peacockPurpleDrop=animania:purple_peacock_feather

        # Set Custom Taupe Peacock Drop (if enabled)
        S:peacockTaupeDrop=animania:taupe_peacock_feather

        # Set Custom White Peacock Drop (if enabled)
        S:peacockWhiteDrop=animania:white_peacock_feather

        # Set Custom Pig Drop (if enabled)
        S:pigDrop=animania:raw_prime_pork

        # Set Custom Rabbit Drop
        S:rabbitDrop=animania:raw_prime_rabbit

        # Set Custom Sheep Drop
        S:sheepDrop=animania:raw_prime_mutton

        # Set Custom Toad Drop
        S:toadDrop=
    }

    spawn {
        # Number of potential Chicken families per chunk
        I:numberChickenFamilies=2

        # Number of potential Cow families per chunk
        I:numberCowFamilies=1

        # Number of potential Goat families per chunk
        I:numberGoatFamilies=1

        # Number of potential Horse families per chunk
        I:numberHorseFamilies=1

        # Number of potential Pig families per chunk
        I:numberPigFamilies=1

        # Number of potential Rabbit families per chunk
        I:numberRabbitFamilies=1

        # Number of potential Sheep families per chunk
        I:numberSheepFamilies=2

        # Spawn Animania Amphibians in world
        B:spawnAnimaniaAmphibians=true

        # Spawn Animania Chickens in world
        B:spawnAnimaniaChickens=true

        # Spawn Animania Cows in world
        B:spawnAnimaniaCows=true

        # Spawn Animania Goats in world
        B:spawnAnimaniaGoats=true

        # Spawn Animania Horses in world
        B:spawnAnimaniaHorses=true

        # Spawn Animania Peacocks in world
        B:spawnAnimaniaPeacocks=true

        # Spawn Animania Pigs in world
        B:spawnAnimaniaPigs=true

        # Spawn Animania Rabbits in world
        B:spawnAnimaniaRabbits=true

        # Spawn Animania Rodents in world
        B:spawnAnimaniaRodents=true

        # Spawn Animania Sheep in world
        B:spawnAnimaniaSheep=true

        # Spawn limit for Amphibians in loaded chunks
        I:spawnLimitAmphibians=24

        # Spawn limit for Chickens in loaded chunks
        I:spawnLimitChickens=40

        # Spawn limit for Cows in loaded chunks
        I:spawnLimitCows=40

        # Spawn limit for Ferrets in loaded chunks
        I:spawnLimitFerrets=20

        # Spawn limit for Goats in loaded chunks
        I:spawnLimitGoats=40

        # Spawn limit for Hamsters in loaded chunks
        I:spawnLimitHamsters=24

        # Spawn limit for Hedgehogs in loaded chunks
        I:spawnLimitHedgehogs=20

        # Spawn limit for Horses in loaded chunks
        I:spawnLimitHorses=30

        # Spawn limit for Peacocks in loaded chunks
        I:spawnLimitPeacocks=24

        # Spawn limit for Pigs in loaded chunks
        I:spawnLimitPigs=40

        # Spawn limit for Rabbits in loaded chunks
        I:spawnLimitRabbits=36

        # Spawn limit for Sheep in loaded chunks
        I:spawnLimitSheep=40

        # Spawn probability Amphibians
        I:spawnProbabilityAmphibians=6

        # Spawn probability Cows
        I:spawnProbabilityCows=6

        # Spawn probability Ferrets
        I:spawnProbabilityFerrets=8

        # Spawn probability Goats
        I:spawnProbabilityGoats=6

        # Spawn probability Hamsters
        I:spawnProbabilityHamsters=8

        # Spawn probability Hedgehogs
        I:spawnProbabilityHedgehogs=8

        # Spawn probability Hens
        I:spawnProbabilityHens=6

        # Spawn probability Horses
        I:spawnProbabilityHorses=6

        # Spawn probability Peacocks
        I:spawnProbabilityPeacocks=8

        # Spawn probability Rabbits
        I:spawnProbabilityRabbits=4

        # Spawn probability Sheep
        I:spawnProbabilitySheep=6

        # Spawn probability Pigs
        I:spawnProbabilitySows=6
    }

    careandfeeding {
        # Ticks before next incremental growth
        I:childGrowthTick=200

        # Food Items that cows can eat
        S:cowFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
         >

        # Egg hatch chance (1/x)
        I:eggHatchChance=2

        # Ticks between dropping feathers
        I:featherTimer=12000

        # Ticks between feedings
        I:feedTimer=12000

        # Ticks between birthings
        I:gestationTimer=20000

        # Food Items that goats can eat
        S:goatFood <
            minecraft:wheat
            minecraft:string
            minecraft:stick
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
         >

        # Food Items that horses can eat
        S:horseFood <
            minecraft:wheat
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            minecraft:apple
            minecraft:carrot
         >

        # Ticks between laying eggs
        I:laidTimer=2000

        # Mammals mate/breed only after hand-feeding
        B:manualBreeding=false

        # Food Items that pigs can eat
        S:pigFood <
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
            minecraft:bread
         >

        # Ticks between playing
        I:playTimer=4000

        # Food Items that rabbits can eat
        S:rabbitFood <
            minecraft:wheat
            minecraft:carrot
            minecraft:beetroot
            minecraft:apple
         >

        # Maximum uses of the salt lick
        I:saltLickMaxUses=200

        # Ticks between using Salt Lick
        I:saltLickTick=8000

        # Food Items that sheep can eat
        S:sheepFood <
            minecraft:wheat
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
         >

        # Ticks between animals taking starvation damage
        I:starvationTimer=400

        # Ticks between drinking water
        I:waterTimer=8000

        # Ticks before wool regrowth after shearing
        I:woolRegrowthTimer=8000
    }

    foodvalues {
        # Food Value Overrides
        S:foodValueOverrides <
         >
    }

}


